<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Tracker</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link to CSS -->
</head>
<body>
  <header class="header">
    <h1>Assignment Tracker</h1>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/assignments">Add Assignments</a>
        <a href="/assignments/collection">Assignments</a>
    </nav>
  </header>

