<%- include('partials/header') %>

<section class="home">
    <div class="home-content">
        <div class="text-content">
            <h1>Welcome to Assignment Tracker</h1>
            <p>Your one-stop solution for managing and tracking your assignments!</p>
            <a href="/assignments">
                <button>
                    Get Started!
                </button>
            </a>
        </div>
        <div class="image-content">
            <img src="/images/checklist.png" alt="Checklist Image">
        </div>
    </div>
</section>

<%- include('partials/footer') %>

